{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Reset your password</h1>
		</div>
	</div>
<div class="row">
<div class="col-md-6 col-md-offset-1 padding-top">
<form action="" class="form-signin" method = "post">
            <input type="password" name="password" class="form-control" placeholder="Password" required="">
             <a href="{{url_for('reset_token', token=token)}}">
            <button class="btn" type="submit"><i class=""></i> Reset</button>
             </a>
 </form>
</div>
</div>
{% endblock %}
